<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script type="text/javascript">
    Kakao.init('9bbfbba5ae61bfb9494771bd71ad837b');
    Kakao.isInitialized();
    if (!Kakao.Auth.getAccessToken())
    Kakao.Auth.setAccessToken('{{access_token}}')
      function checkAccessToken(){
        console.log(Kakao.Auth.getAccessToken());
      }
      function kakaoLogout() {
        if (!Kakao.Auth.getAccessToken()) {
          console.log('Not logged in.');
          return;
        }
        ///아래는 로그아웃 함수이다.
        Kakao.Auth.logout(function() {
            location.href='https://kauth.kakao.com/oauth/logout?client_id=10ecf0439a675841802b2143335b994e&logout_redirect_uri=http://127.0.0.1:8000'; ///메인 페이지로 이동시킨다.
        });
      }
    </script>
</head>
<body>
    <h1>Top</h1>
    <h1>access_token : {{access_token}}</h1>
    <h1>nickname : {{nickname}}</h1>
    <button class="api-btn" onclick="checkAccessToken()">토큰 점검</button>
    <button class="api-btn" onclick="kakaoLogout()">로그아웃</button>
</body>
</html>